.table-controls {
    margin-top: 46px;
    margin-bottom: 10px;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;

    span {
        font-size: 14px;
        color: #778ca2;
        line-height: 46px;
        margin-right: 14px;
    }

    .pag-btn {
        background-color: #fff !important;
        border: 1px solid #e8ecef;
        width: 47px;
        height: 47px;
    }

    .btn-prev {
        border-radius: 4px 0px 0px 4px;
    }

    .btn-next {
        border-radius: 0px 4px 4px 0px;
        margin-right: 15px;
    }

    .timezone,
    .sort {
        background-color: #fff;
        border: 1px solid #e8ecef;
        color: #98a9bc;
        font-size: 14px;
    }

    .timezone {
        width: 186px;
        padding: 5px 13px 0 18px;
        margin-right: 15px;
    }

    .sort {
        width: 146px;
        padding: 0 14px 0 14px;
        & > * {
            color: #000;
            padding-top: 8px;
        }
    }
    @media screen and (max-width: 850px) {
        justify-content: center;

        .pag-btns,
        span {
            flex-basis: 40%;
        }
        .timezone,
        .sort {
            flex-basis: 15%;
            margin-top: 10px;
            margin-right: 0;
        }

        .timezone {
            margin-right: 10px;
        }
    }
}
