@import "./pages/pages";
@import "./components/components";

* {
    font-family: "Rubik", Arial, Helvetica, sans-serif !important;
}

body {
    background-color: #f8fafb !important;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}